/* Geist font  */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* Geist font added to full layout */
*{  
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
